
.about-top{
    
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 1rem 10rem;;
  background-color: rgb(255, 255, 255);
  margin-bottom: 1rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size:50px;
  font-style: oblique;
  font-weight: bold;
  color: rgb(0, 0, 0);

}

.about-middle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding:0rem 10rem;
    font-stretch: semi-expanded;
    font-size: 15px;
}

.about-bottom{
    display:flex;
    flex-direction: column;
    padding: 0rem 10rem;
    align-items: center;
}

.about-bottom-cards{
    padding: 1rem;
    display:flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
    margin-bottom: 100px;
}

.about-box{
    display: flex;
    text-justify:inter-cluster;
    padding: 1rem 1rem;
    border: thin solid;
    box-shadow: rgb(115, 115, 115) 5px 5px;
    font-style: italic;
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.about-h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri;
    font-size: 30px;
    font-weight: bold;
    align-content: flex-start;
    margin: 0;
    padding:0 0 0 0;

}

.about-text{
    font-size: 20px;
    font: 1em system-UI;
    text-align: justify;
}


.about-card{
    height: 200px;
    width: 200px ;
    align-items: center;
    background-color: rgba(129, 211, 246, 0.711);
    display: flex;
    flex-direction: column;
    padding: 1em;
}